*.png
*.png~
*.vscode
*.sh
*.ppj
*.code-workspace
BACKUP
Source/Scripts/temp/*
meta.ini
*.py
SSEEdit 4.1.5f*
*.zip
TintsOfASuccubusSecretDesires/*
__pycache__*
SpriggitTool/*
.venv/*
papyrus-compiler/*
.papyrus/*
unusedCode.txt
SSEEdit Backups/