*.png
*.png~
*.vscode
*.sh
*.ppj
*.code-workspace
BACKUP
Source/Scripts/temp/*
meta.ini
*.py
SSEEdit 4.1.5f*
*.zip
TintsOfASuccubusSecretDesires/*
__pycache__*
SpriggitTool/*
.venv/*
papyrus-compiler/*
.papyrus/*
unusedCode.txt
SSEEdit Backups/
*.ipynb
pPPYline
build/*
SKSE-Menu-Framework-2-Example/*
uiCreation/*
CC/*
.stignore
.stfolder
*.ods
*.csv
aiTextGen*
*.tes
!interface/menus/TSSD/Blood.png
!interface/menus/TSSD/Blush.png
!interface/menus/TSSD/Bordeaux.png
!interface/menus/TSSD/Carissma.png
!interface/menus/TSSD/Carmine.png
!interface/menus/TSSD/Carnation.png
!interface/menus/TSSD/Cerise.png
!interface/menus/TSSD/Crimson.png
!interface/menus/TSSD/Crusta.png
!interface/menus/TSSD/Cupid.png
!interface/menus/TSSD/Geraldine.png
!interface/menus/TSSD/HeartBreak.png
!interface/menus/TSSD/HotPink.png
!interface/menus/TSSD/Lavenderblush.png
!interface/menus/TSSD/Lilac.png
!interface/menus/TSSD/Mahogany.png
!interface/menus/TSSD/Maroon.png
!interface/menus/TSSD/Monza.png
!interface/menus/TSSD/Mulberry.png
!interface/menus/TSSD/Mystic.png
!interface/menus/TSSD/Neon.png
!interface/menus/TSSD/Oblivion.png
!interface/menus/TSSD/Paco.png
!interface/menus/TSSD/Pastel.png
!interface/menus/TSSD/Pink.png
!interface/menus/TSSD/Plum.png
!interface/menus/TSSD/Pompadour.png
!interface/menus/TSSD/Pueblo.png
!interface/menus/TSSD/Razzmatazz.png
!interface/menus/TSSD/Ruby.png
!interface/menus/TSSD/Sangria.png
!interface/menus/TSSD/Scarlet.png
!interface/menus/TSSD/Silver.png
!interface/menus/TSSD/Stiletto.png
!interface/menus/TSSD/Sundown.png
!interface/menus/TSSD/Tamarind.png
!interface/menus/TSSD/Temptress.png
!interface/menus/TSSD/Tolopea.png
!interface/menus/TSSD/Tosca.png
!interface/menus/TSSD/Tutu.png
!interface/menus/TSSD/Valencia.png
zzzTrash/*
SSE*
*BACK
*.kra
*.xcf
*.blend
example-skse-plugin*
PrismaUI*
BCK*
*.kra
*~
*.webp
.SLTScripts
meta.ini
*.obj
*.mtl